
@{
            ViewData["Title"] = "Ошибка";
            Random random = new Random((int)DateTime.Now.Ticks);
            List<string> joys = new List<string>
    {
@"-Дорогая, я вчера за грибами ходил, целое ведро твоей маме набрал.
-А если они ядовитые?
-Что значит если?..",
@"-Дорогой,скажи,эти джинсы меня полнят?
-Сказать тебе правду?
-Да.
-Я сплю с твоей сестрой.",
@"Спрашивают чукчу как он в тундре выживает.
-Да просто.Мяса нет - оленя стреляю. Жира нет - моржа стреляю. Спичек нет - геолога стреляю",
@"В самолете блюет пассажир. Все смеются.
Стюардесса видит, что скоро потечет через край пакета и бежит за вторым пакетом.
Когда вернулась, обнаруживает, что все блюют а один смеется.
Она спрашивает:
- В чем дело?
- Они думали что у меня через край польется, а я взял и отпил",
@"Заходит в бар прокажённый. Весь в язвах, гное, всё сочится.
Садится за стойку и вежливо просит бармена:
- Мне пиво, пожалуйста. Но если вас мой вид смущает, или вам неприятно...
Бармен его перебивает:
- Да расслабься, чувак, бывает.
Но через три минуты бармен глянул в его сторону и чуть не сблевал.
Прокажённый говорит:
- Давайте я уйду, я же вижу - вам неприятно.
Бармен:
- Не-не, чувак, сиди! Дело не в тебе!
Ещё через минуту бармена опять чудом не выворачивает наизнанку.
Прокажённый снова:
- Я же говорю, что мне лучше уйти...
Бармен:
- Сиди, чувак! Я же ясно сказал - дело не в тебе! Дело в твоём соседе. Он чипсы в твою руку макает.",
@"Монастырь.6 утра.исповедь после сна,но не такая,как обычно,на этот раз мать настоятельница собрала всех монашек,поставила их на колени и говорит:
-Дочери мои!!!Видите ли вы Алтарь перед собой!?
те хором: - Да матушка!!!
-Дочери мои,поднимите руки и поведуйте,кто в своей жизни видел голово мужчину?
Ну лес рук тянется к верху.
-Дочери мои,покайтесь же.Подойдите к святой воде и опаласните в нём свои грешные глаза.
те послушно по очереди подошли промыли,помолились.
-Дочери мои,поднимите руки,кто трогал мужской половой член хоть раз в жизни.
в аудитории монашек поднимается в раза два меньше рук.
-Дочери мои,покайтесь же.Подойдите к святой воде и опаласните в нём свои грешные руки!!!
те послушно по очереди подошли промыли,помолились.
-Дочери мои, ....!!!
тут Мать настоятельницу прерывает одна из монашек,и говорит:
-Извините пожалуйста,можно ли я подойду и ополосну свой грешный ротик,пока кто либо не ополоснул в святой воде свою грешную задницу!?!"
    };
}
<div class="funerror d-flex justify-content-center">
    <div class="card text-white border-dark" style="max-width: 30rem;">
        <div class="card-header text-center">У меня есть анекдот на эту тему</div>
        <div class="card-body">
            @foreach (var joy in joys[random.Next(joys.Count)].Split("\n"))
            {
                <p class="card-text">@(joy)</p>
            }
        </div>
    </div>
</div>
